$icon-accessibility: "\e900";
$icon-accessibility-outline: "\e901";
$icon-accessibility-sharp: "\e902";
$icon-add: "\e903";
$icon-add-circle: "\e904";
$icon-add-circle-outline: "\e905";
$icon-add-circle-sharp: "\e906";
$icon-add-outline: "\e907";
$icon-add-sharp: "\e908";
$icon-airplane: "\e909";
$icon-airplane-outline: "\e90a";
$icon-airplane-sharp: "\e90b";
$icon-alarm: "\e90c";
$icon-alarm-outline: "\e90d";
$icon-alarm-sharp: "\e90e";
$icon-albums: "\e90f";
$icon-albums-outline: "\e910";
$icon-albums-sharp: "\e911";
$icon-alert: "\e912";
$icon-alert-circle: "\e913";
$icon-alert-circle-outline: "\e914";
$icon-alert-circle-sharp: "\e915";
$icon-alert-outline: "\e916";
$icon-alert-sharp: "\e917";
$icon-american-football: "\e918";
$icon-american-football-outline: "\e919";
$icon-american-football-sharp: "\e91a";
$icon-analytics: "\e91b";
$icon-analytics-outline: "\e91c";
$icon-analytics-sharp: "\e91d";
$icon-aperture: "\e91e";
$icon-aperture-outline: "\e91f";
$icon-aperture-sharp: "\e920";
$icon-apps: "\e921";
$icon-apps-outline: "\e922";
$icon-apps-sharp: "\e923";
$icon-archive: "\e924";
$icon-archive-outline: "\e925";
$icon-archive-sharp: "\e926";
$icon-arrow-back: "\e927";
$icon-arrow-back-circle: "\e928";
$icon-arrow-back-circle-outline: "\e929";
$icon-arrow-back-circle-sharp: "\e92a";
$icon-arrow-back-outline: "\e92b";
$icon-arrow-back-sharp: "\e92c";
$icon-arrow-down: "\e92d";
$icon-arrow-down-circle: "\e92e";
$icon-arrow-down-circle-outline: "\e92f";
$icon-arrow-down-circle-sharp: "\e930";
$icon-arrow-down-outline: "\e931";
$icon-arrow-down-sharp: "\e932";
$icon-arrow-forward: "\e933";
$icon-arrow-forward-circle: "\e934";
$icon-arrow-forward-circle-outline: "\e935";
$icon-arrow-forward-circle-sharp: "\e936";
$icon-arrow-forward-outline: "\e937";
$icon-arrow-forward-sharp: "\e938";
$icon-arrow-redo: "\e939";
$icon-arrow-redo-circle: "\e93a";
$icon-arrow-redo-circle-outline: "\e93b";
$icon-arrow-redo-circle-sharp: "\e93c";
$icon-arrow-redo-outline: "\e93d";
$icon-arrow-redo-sharp: "\e93e";
$icon-arrow-undo: "\e93f";
$icon-arrow-undo-circle: "\e940";
$icon-arrow-undo-circle-outline: "\e941";
$icon-arrow-undo-circle-sharp: "\e942";
$icon-arrow-undo-outline: "\e943";
$icon-arrow-undo-sharp: "\e944";
$icon-arrow-up: "\e945";
$icon-arrow-up-circle: "\e946";
$icon-arrow-up-circle-outline: "\e947";
$icon-arrow-up-circle-sharp: "\e948";
$icon-arrow-up-outline: "\e949";
$icon-arrow-up-sharp: "\e94a";
$icon-at: "\e94b";
$icon-at-circle: "\e94c";
$icon-at-circle-outline: "\e94d";
$icon-at-circle-sharp: "\e94e";
$icon-at-outline: "\e94f";
$icon-at-sharp: "\e950";
$icon-attach: "\e951";
$icon-attach-outline: "\e952";
$icon-attach-sharp: "\e953";
$icon-backspace: "\e954";
$icon-backspace-outline: "\e955";
$icon-backspace-sharp: "\e956";
$icon-bag: "\e957";
$icon-bag-add: "\e958";
$icon-bag-add-outline: "\e959";
$icon-bag-add-sharp: "\e95a";
$icon-bag-check: "\e95b";
$icon-bag-check-outline: "\e95c";
$icon-bag-check-sharp: "\e95d";
$icon-bag-handle: "\e95e";
$icon-bag-handle-outline: "\e95f";
$icon-bag-handle-sharp: "\e960";
$icon-bag-outline: "\e961";
$icon-bag-remove: "\e962";
$icon-bag-remove-outline: "\e963";
$icon-bag-remove-sharp: "\e964";
$icon-bag-sharp: "\e965";
$icon-ban: "\e966";
$icon-bandage: "\e967";
$icon-bandage-outline: "\e968";
$icon-bandage-sharp: "\e969";
$icon-ban-outline: "\e96a";
$icon-ban-sharp: "\e96b";
$icon-barbell: "\e96c";
$icon-barbell-outline: "\e96d";
$icon-barbell-sharp: "\e96e";
$icon-bar-chart: "\e96f";
$icon-bar-chart-outline: "\e970";
$icon-bar-chart-sharp: "\e971";
$icon-barcode: "\e972";
$icon-barcode-outline: "\e973";
$icon-barcode-sharp: "\e974";
$icon-baseball: "\e975";
$icon-baseball-outline: "\e976";
$icon-baseball-sharp: "\e977";
$icon-basket: "\e978";
$icon-basketball: "\e979";
$icon-basketball-outline: "\e97a";
$icon-basketball-sharp: "\e97b";
$icon-basket-outline: "\e97c";
$icon-basket-sharp: "\e97d";
$icon-battery-charging: "\e97e";
$icon-battery-charging-outline: "\e97f";
$icon-battery-charging-sharp: "\e980";
$icon-battery-dead: "\e981";
$icon-battery-dead-outline: "\e982";
$icon-battery-dead-sharp: "\e983";
$icon-battery-full: "\e984";
$icon-battery-full-outline: "\e985";
$icon-battery-full-sharp: "\e986";
$icon-battery-half: "\e987";
$icon-battery-half-outline: "\e988";
$icon-battery-half-sharp: "\e989";
$icon-beaker: "\e98a";
$icon-beaker-outline: "\e98b";
$icon-beaker-sharp: "\e98c";
$icon-bed: "\e98d";
$icon-bed-outline: "\e98e";
$icon-bed-sharp: "\e98f";
$icon-beer: "\e990";
$icon-beer-outline: "\e991";
$icon-beer-sharp: "\e992";
$icon-bicycle: "\e993";
$icon-bicycle-outline: "\e994";
$icon-bicycle-sharp: "\e995";
$icon-bluetooth: "\e996";
$icon-bluetooth-outline: "\e997";
$icon-bluetooth-sharp: "\e998";
$icon-boat: "\e999";
$icon-boat-outline: "\e99a";
$icon-boat-sharp: "\e99b";
$icon-body: "\e99c";
$icon-body-outline: "\e99d";
$icon-body-sharp: "\e99e";
$icon-bonfire: "\e99f";
$icon-bonfire-outline: "\e9a0";
$icon-bonfire-sharp: "\e9a1";
$icon-book: "\e9a2";
$icon-bookmark: "\e9a3";
$icon-bookmark-outline: "\e9a4";
$icon-bookmarks: "\e9a5";
$icon-bookmark-sharp: "\e9a6";
$icon-bookmarks-outline: "\e9a7";
$icon-bookmarks-sharp: "\e9a8";
$icon-book-outline: "\e9a9";
$icon-book-sharp: "\e9aa";
$icon-briefcase: "\e9ab";
$icon-briefcase-outline: "\e9ac";
$icon-briefcase-sharp: "\e9ad";
$icon-browsers: "\e9ae";
$icon-browsers-outline: "\e9af";
$icon-browsers-sharp: "\e9b0";
$icon-brush: "\e9b1";
$icon-brush-outline: "\e9b2";
$icon-brush-sharp: "\e9b3";
$icon-bug: "\e9b4";
$icon-bug-outline: "\e9b5";
$icon-bug-sharp: "\e9b6";
$icon-build: "\e9b7";
$icon-build-outline: "\e9b8";
$icon-build-sharp: "\e9b9";
$icon-bulb: "\e9ba";
$icon-bulb-outline: "\e9bb";
$icon-bulb-sharp: "\e9bc";
$icon-bus: "\e9bd";
$icon-business: "\e9be";
$icon-business-outline: "\e9bf";
$icon-business-sharp: "\e9c0";
$icon-bus-outline: "\e9c1";
$icon-bus-sharp: "\e9c2";
$icon-cafe: "\e9c3";
$icon-cafe-outline: "\e9c4";
$icon-cafe-sharp: "\e9c5";
$icon-calculator: "\e9c6";
$icon-calculator-outline: "\e9c7";
$icon-calculator-sharp: "\e9c8";
$icon-calendar: "\e9c9";
$icon-calendar-clear: "\e9ca";
$icon-calendar-clear-outline: "\e9cb";
$icon-calendar-clear-sharp: "\e9cc";
$icon-calendar-outline: "\e9cd";
$icon-calendar-sharp: "\e9ce";
$icon-call: "\e9cf";
$icon-call-outline: "\e9d0";
$icon-call-sharp: "\e9d1";
$icon-camera: "\e9d2";
$icon-camera-outline: "\e9d3";
$icon-camera-reverse: "\e9d4";
$icon-camera-reverse-outline: "\e9d5";
$icon-camera-reverse-sharp: "\e9d6";
$icon-camera-sharp: "\e9d7";
$icon-car: "\e9d8";
$icon-card: "\e9d9";
$icon-card-outline: "\e9da";
$icon-card-sharp: "\e9db";
$icon-caret-back: "\e9dc";
$icon-caret-back-circle: "\e9dd";
$icon-caret-back-circle-outline: "\e9de";
$icon-caret-back-circle-sharp: "\e9df";
$icon-caret-back-outline: "\e9e0";
$icon-caret-back-sharp: "\e9e1";
$icon-caret-down: "\e9e2";
$icon-caret-down-circle: "\e9e3";
$icon-caret-down-circle-outline: "\e9e4";
$icon-caret-down-circle-sharp: "\e9e5";
$icon-caret-down-outline: "\e9e6";
$icon-caret-down-sharp: "\e9e7";
$icon-caret-forward: "\e9e8";
$icon-caret-forward-circle: "\e9e9";
$icon-caret-forward-circle-outline: "\e9ea";
$icon-caret-forward-circle-sharp: "\e9eb";
$icon-caret-forward-outline: "\e9ec";
$icon-caret-forward-sharp: "\e9ed";
$icon-caret-up: "\e9ee";
$icon-caret-up-circle: "\e9ef";
$icon-caret-up-circle-outline: "\e9f0";
$icon-caret-up-circle-sharp: "\e9f1";
$icon-caret-up-outline: "\e9f2";
$icon-caret-up-sharp: "\e9f3";
$icon-car-outline: "\e9f4";
$icon-car-sharp: "\e9f5";
$icon-car-sport: "\e9f6";
$icon-car-sport-outline: "\e9f7";
$icon-car-sport-sharp: "\e9f8";
$icon-cart: "\e9f9";
$icon-cart-outline: "\e9fa";
$icon-cart-sharp: "\e9fb";
$icon-cash: "\e9fc";
$icon-cash-outline: "\e9fd";
$icon-cash-sharp: "\e9fe";
$icon-cellular: "\e9ff";
$icon-cellular-outline: "\ea00";
$icon-cellular-sharp: "\ea01";
$icon-chatbox: "\ea02";
$icon-chatbox-ellipses: "\ea03";
$icon-chatbox-ellipses-outline: "\ea04";
$icon-chatbox-ellipses-sharp: "\ea05";
$icon-chatbox-outline: "\ea06";
$icon-chatbox-sharp: "\ea07";
$icon-chatbubble: "\ea08";
$icon-chatbubble-ellipses: "\ea09";
$icon-chatbubble-ellipses-outline: "\ea0a";
$icon-chatbubble-ellipses-sharp: "\ea0b";
$icon-chatbubble-outline: "\ea0c";
$icon-chatbubbles: "\ea0d";
$icon-chatbubble-sharp: "\ea0e";
$icon-chatbubbles-outline: "\ea0f";
$icon-chatbubbles-sharp: "\ea10";
$icon-checkbox: "\ea11";
$icon-checkbox-outline: "\ea12";
$icon-checkbox-sharp: "\ea13";
$icon-checkmark: "\ea14";
$icon-checkmark-circle: "\ea15";
$icon-checkmark-circle-outline: "\ea16";
$icon-checkmark-circle-sharp: "\ea17";
$icon-checkmark-done: "\ea18";
$icon-checkmark-done-circle: "\ea19";
$icon-checkmark-done-circle-outline: "\ea1a";
$icon-checkmark-done-circle-sharp: "\ea1b";
$icon-checkmark-done-outline: "\ea1c";
$icon-checkmark-done-sharp: "\ea1d";
$icon-checkmark-outline: "\ea1e";
$icon-checkmark-sharp: "\ea1f";
$icon-chevron-back: "\ea20";
$icon-chevron-back-circle: "\ea21";
$icon-chevron-back-circle-outline: "\ea22";
$icon-chevron-back-circle-sharp: "\ea23";
$icon-chevron-back-outline: "\ea24";
$icon-chevron-back-sharp: "\ea25";
$icon-chevron-down: "\ea26";
$icon-chevron-down-circle: "\ea27";
$icon-chevron-down-circle-outline: "\ea28";
$icon-chevron-down-circle-sharp: "\ea29";
$icon-chevron-down-outline: "\ea2a";
$icon-chevron-down-sharp: "\ea2b";
$icon-chevron-forward: "\ea2c";
$icon-chevron-forward-circle: "\ea2d";
$icon-chevron-forward-circle-outline: "\ea2e";
$icon-chevron-forward-circle-sharp: "\ea2f";
$icon-chevron-forward-outline: "\ea30";
$icon-chevron-forward-sharp: "\ea31";
$icon-chevron-up: "\ea32";
$icon-chevron-up-circle: "\ea33";
$icon-chevron-up-circle-outline: "\ea34";
$icon-chevron-up-circle-sharp: "\ea35";
$icon-chevron-up-outline: "\ea36";
$icon-chevron-up-sharp: "\ea37";
$icon-clipboard: "\ea38";
$icon-clipboard-outline: "\ea39";
$icon-clipboard-sharp: "\ea3a";
$icon-close: "\ea3b";
$icon-close-circle: "\ea3c";
$icon-close-circle-outline: "\ea3d";
$icon-close-circle-sharp: "\ea3e";
$icon-close-outline: "\ea3f";
$icon-close-sharp: "\ea40";
$icon-cloud: "\ea41";
$icon-cloud-circle: "\ea42";
$icon-cloud-circle-outline: "\ea43";
$icon-cloud-circle-sharp: "\ea44";
$icon-cloud-done: "\ea45";
$icon-cloud-done-outline: "\ea46";
$icon-cloud-done-sharp: "\ea47";
$icon-cloud-download: "\ea48";
$icon-cloud-download-outline: "\ea49";
$icon-cloud-download-sharp: "\ea4a";
$icon-cloud-offline: "\ea4b";
$icon-cloud-offline-outline: "\ea4c";
$icon-cloud-offline-sharp: "\ea4d";
$icon-cloud-outline: "\ea4e";
$icon-cloud-sharp: "\ea4f";
$icon-cloud-upload: "\ea50";
$icon-cloud-upload-outline: "\ea51";
$icon-cloud-upload-sharp: "\ea52";
$icon-cloudy: "\ea53";
$icon-cloudy-night: "\ea54";
$icon-cloudy-night-outline: "\ea55";
$icon-cloudy-night-sharp: "\ea56";
$icon-cloudy-outline: "\ea57";
$icon-cloudy-sharp: "\ea58";
$icon-code: "\ea59";
$icon-code-download: "\ea5a";
$icon-code-download-outline: "\ea5b";
$icon-code-download-sharp: "\ea5c";
$icon-code-outline: "\ea5d";
$icon-code-sharp: "\ea5e";
$icon-code-slash: "\ea5f";
$icon-code-slash-outline: "\ea60";
$icon-code-slash-sharp: "\ea61";
$icon-code-working: "\ea62";
$icon-code-working-outline: "\ea63";
$icon-code-working-sharp: "\ea64";
$icon-cog: "\ea65";
$icon-cog-outline: "\ea66";
$icon-cog-sharp: "\ea67";
$icon-color-fill: "\ea68";
$icon-color-fill-outline: "\ea69";
$icon-color-fill-sharp: "\ea6a";
$icon-color-filter: "\ea6b";
$icon-color-filter-outline: "\ea6c";
$icon-color-filter-sharp: "\ea6d";
$icon-color-palette: "\ea6e";
$icon-color-palette-outline: "\ea6f";
$icon-color-palette-sharp: "\ea70";
$icon-color-wand: "\ea71";
$icon-color-wand-outline: "\ea72";
$icon-color-wand-sharp: "\ea73";
$icon-compass: "\ea74";
$icon-compass-outline: "\ea75";
$icon-compass-sharp: "\ea76";
$icon-construct: "\ea77";
$icon-construct-outline: "\ea78";
$icon-construct-sharp: "\ea79";
$icon-contract: "\ea7a";
$icon-contract-outline: "\ea7b";
$icon-contract-sharp: "\ea7c";
$icon-contrast: "\ea7d";
$icon-contrast-outline: "\ea7e";
$icon-contrast-sharp: "\ea7f";
$icon-copy: "\ea80";
$icon-copy-outline: "\ea81";
$icon-copy-sharp: "\ea82";
$icon-create: "\ea83";
$icon-create-outline: "\ea84";
$icon-create-sharp: "\ea85";
$icon-crop: "\ea86";
$icon-crop-outline: "\ea87";
$icon-crop-sharp: "\ea88";
$icon-cube: "\ea89";
$icon-cube-outline: "\ea8a";
$icon-cube-sharp: "\ea8b";
$icon-cut: "\ea8c";
$icon-cut-outline: "\ea8d";
$icon-cut-sharp: "\ea8e";
$icon-desktop: "\ea8f";
$icon-desktop-outline: "\ea90";
$icon-desktop-sharp: "\ea91";
$icon-dice: "\ea92";
$icon-dice-outline: "\ea93";
$icon-dice-sharp: "\ea94";
$icon-disc: "\ea95";
$icon-disc-outline: "\ea96";
$icon-disc-sharp: "\ea97";
$icon-document: "\ea98";
$icon-document-attach: "\ea99";
$icon-document-attach-outline: "\ea9a";
$icon-document-attach-sharp: "\ea9b";
$icon-document-lock: "\ea9c";
$icon-document-lock-outline: "\ea9d";
$icon-document-lock-sharp: "\ea9e";
$icon-document-outline: "\ea9f";
$icon-documents: "\eaa0";
$icon-document-sharp: "\eaa1";
$icon-documents-outline: "\eaa2";
$icon-documents-sharp: "\eaa3";
$icon-document-text: "\eaa4";
$icon-document-text-outline: "\eaa5";
$icon-document-text-sharp: "\eaa6";
$icon-download: "\eaa7";
$icon-download-outline: "\eaa8";
$icon-download-sharp: "\eaa9";
$icon-duplicate: "\eaaa";
$icon-duplicate-outline: "\eaab";
$icon-duplicate-sharp: "\eaac";
$icon-ear: "\eaad";
$icon-ear-outline: "\eaae";
$icon-ear-sharp: "\eaaf";
$icon-earth: "\eab0";
$icon-earth-outline: "\eab1";
$icon-earth-sharp: "\eab2";
$icon-easel: "\eab3";
$icon-easel-outline: "\eab4";
$icon-easel-sharp: "\eab5";
$icon-egg: "\eab6";
$icon-egg-outline: "\eab7";
$icon-egg-sharp: "\eab8";
$icon-ellipse: "\eab9";
$icon-ellipse-outline: "\eaba";
$icon-ellipse-sharp: "\eabb";
$icon-ellipsis-horizontal: "\eabc";
$icon-ellipsis-horizontal-circle: "\eabd";
$icon-ellipsis-horizontal-circle-outline: "\eabe";
$icon-ellipsis-horizontal-circle-sharp: "\eabf";
$icon-ellipsis-horizontal-outline: "\eac0";
$icon-ellipsis-horizontal-sharp: "\eac1";
$icon-ellipsis-vertical: "\eac2";
$icon-ellipsis-vertical-circle: "\eac3";
$icon-ellipsis-vertical-circle-outline: "\eac4";
$icon-ellipsis-vertical-circle-sharp: "\eac5";
$icon-ellipsis-vertical-outline: "\eac6";
$icon-ellipsis-vertical-sharp: "\eac7";
$icon-enter: "\eac8";
$icon-enter-outline: "\eac9";
$icon-enter-sharp: "\eaca";
$icon-exit: "\eacb";
$icon-exit-outline: "\eacc";
$icon-exit-sharp: "\eacd";
$icon-expand: "\eace";
$icon-expand-outline: "\eacf";
$icon-expand-sharp: "\ead0";
$icon-extension-puzzle: "\ead1";
$icon-extension-puzzle-outline: "\ead2";
$icon-extension-puzzle-sharp: "\ead3";
$icon-eye: "\ead4";
$icon-eyedrop: "\ead5";
$icon-eyedrop-outline: "\ead6";
$icon-eyedrop-sharp: "\ead7";
$icon-eye-off: "\ead8";
$icon-eye-off-outline: "\ead9";
$icon-eye-off-sharp: "\eada";
$icon-eye-outline: "\eadb";
$icon-eye-sharp: "\eadc";
$icon-fast-food: "\eadd";
$icon-fast-food-outline: "\eade";
$icon-fast-food-sharp: "\eadf";
$icon-female: "\eae0";
$icon-female-outline: "\eae1";
$icon-female-sharp: "\eae2";
$icon-file-tray: "\eae3";
$icon-file-tray-full: "\eae4";
$icon-file-tray-full-outline: "\eae5";
$icon-file-tray-full-sharp: "\eae6";
$icon-file-tray-outline: "\eae7";
$icon-file-tray-sharp: "\eae8";
$icon-file-tray-stacked: "\eae9";
$icon-file-tray-stacked-outline: "\eaea";
$icon-file-tray-stacked-sharp: "\eaeb";
$icon-film: "\eaec";
$icon-film-outline: "\eaed";
$icon-film-sharp: "\eaee";
$icon-filter: "\eaef";
$icon-filter-circle: "\eaf0";
$icon-filter-circle-outline: "\eaf1";
$icon-filter-circle-sharp: "\eaf2";
$icon-filter-outline: "\eaf3";
$icon-filter-sharp: "\eaf4";
$icon-finger-print: "\eaf5";
$icon-finger-print-outline: "\eaf6";
$icon-finger-print-sharp: "\eaf7";
$icon-fish: "\eaf8";
$icon-fish-outline: "\eaf9";
$icon-fish-sharp: "\eafa";
$icon-fitness: "\eafb";
$icon-fitness-outline: "\eafc";
$icon-fitness-sharp: "\eafd";
$icon-flag: "\eafe";
$icon-flag-outline: "\eaff";
$icon-flag-sharp: "\eb00";
$icon-flame: "\eb01";
$icon-flame-outline: "\eb02";
$icon-flame-sharp: "\eb03";
$icon-flash: "\eb04";
$icon-flashlight: "\eb05";
$icon-flashlight-outline: "\eb06";
$icon-flashlight-sharp: "\eb07";
$icon-flash-off: "\eb08";
$icon-flash-off-outline: "\eb09";
$icon-flash-off-sharp: "\eb0a";
$icon-flash-outline: "\eb0b";
$icon-flash-sharp: "\eb0c";
$icon-flask: "\eb0d";
$icon-flask-outline: "\eb0e";
$icon-flask-sharp: "\eb0f";
$icon-flower: "\eb10";
$icon-flower-outline: "\eb11";
$icon-flower-sharp: "\eb12";
$icon-folder: "\eb13";
$icon-folder-open: "\eb14";
$icon-folder-open-outline: "\eb15";
$icon-folder-open-sharp: "\eb16";
$icon-folder-outline: "\eb17";
$icon-folder-sharp: "\eb18";
$icon-football: "\eb19";
$icon-football-outline: "\eb1a";
$icon-football-sharp: "\eb1b";
$icon-funnel: "\eb1c";
$icon-funnel-outline: "\eb1d";
$icon-funnel-sharp: "\eb1e";
$icon-game-controller: "\eb1f";
$icon-game-controller-outline: "\eb20";
$icon-game-controller-sharp: "\eb21";
$icon-gift: "\eb22";
$icon-gift-outline: "\eb23";
$icon-gift-sharp: "\eb24";
$icon-git-branch: "\eb25";
$icon-git-branch-outline: "\eb26";
$icon-git-branch-sharp: "\eb27";
$icon-git-commit: "\eb28";
$icon-git-commit-outline: "\eb29";
$icon-git-commit-sharp: "\eb2a";
$icon-git-compare: "\eb2b";
$icon-git-compare-outline: "\eb2c";
$icon-git-compare-sharp: "\eb2d";
$icon-git-merge: "\eb2e";
$icon-git-merge-outline: "\eb2f";
$icon-git-merge-sharp: "\eb30";
$icon-git-network: "\eb31";
$icon-git-network-outline: "\eb32";
$icon-git-network-sharp: "\eb33";
$icon-git-pull-request: "\eb34";
$icon-git-pull-request-outline: "\eb35";
$icon-git-pull-request-sharp: "\eb36";
$icon-glasses: "\eb37";
$icon-glasses-outline: "\eb38";
$icon-glasses-sharp: "\eb39";
$icon-globe: "\eb3a";
$icon-globe-outline: "\eb3b";
$icon-globe-sharp: "\eb3c";
$icon-golf: "\eb3d";
$icon-golf-outline: "\eb3e";
$icon-golf-sharp: "\eb3f";
$icon-grid: "\eb40";
$icon-grid-outline: "\eb41";
$icon-grid-sharp: "\eb42";
$icon-hammer: "\eb43";
$icon-hammer-outline: "\eb44";
$icon-hammer-sharp: "\eb45";
$icon-hand-left: "\eb46";
$icon-hand-left-outline: "\eb47";
$icon-hand-left-sharp: "\eb48";
$icon-hand-right: "\eb49";
$icon-hand-right-outline: "\eb4a";
$icon-hand-right-sharp: "\eb4b";
$icon-happy: "\eb4c";
$icon-happy-outline: "\eb4d";
$icon-happy-sharp: "\eb4e";
$icon-hardware-chip: "\eb4f";
$icon-hardware-chip-outline: "\eb50";
$icon-hardware-chip-sharp: "\eb51";
$icon-headset: "\eb52";
$icon-headset-outline: "\eb53";
$icon-headset-sharp: "\eb54";
$icon-heart: "\eb55";
$icon-heart-circle: "\eb56";
$icon-heart-circle-outline: "\eb57";
$icon-heart-circle-sharp: "\eb58";
$icon-heart-dislike: "\eb59";
$icon-heart-dislike-circle: "\eb5a";
$icon-heart-dislike-circle-outline: "\eb5b";
$icon-heart-dislike-circle-sharp: "\eb5c";
$icon-heart-dislike-outline: "\eb5d";
$icon-heart-dislike-sharp: "\eb5e";
$icon-heart-half: "\eb5f";
$icon-heart-half-outline: "\eb60";
$icon-heart-half-sharp: "\eb61";
$icon-heart-outline: "\eb62";
$icon-heart-sharp: "\eb63";
$icon-help: "\eb64";
$icon-help-buoy: "\eb65";
$icon-help-buoy-outline: "\eb66";
$icon-help-buoy-sharp: "\eb67";
$icon-help-circle: "\eb68";
$icon-help-circle-outline: "\eb69";
$icon-help-circle-sharp: "\eb6a";
$icon-help-outline: "\eb6b";
$icon-help-sharp: "\eb6c";
$icon-home: "\eb6d";
$icon-home-outline: "\eb6e";
$icon-home-sharp: "\eb6f";
$icon-hourglass: "\eb70";
$icon-hourglass-outline: "\eb71";
$icon-hourglass-sharp: "\eb72";
$icon-ice-cream: "\eb73";
$icon-ice-cream-outline: "\eb74";
$icon-ice-cream-sharp: "\eb75";
$icon-image: "\eb76";
$icon-image-outline: "\eb77";
$icon-images: "\eb78";
$icon-image-sharp: "\eb79";
$icon-images-outline: "\eb7a";
$icon-images-sharp: "\eb7b";
$icon-infinite: "\eb7c";
$icon-infinite-outline: "\eb7d";
$icon-infinite-sharp: "\eb7e";
$icon-information: "\eb7f";
$icon-information-circle: "\eb80";
$icon-information-circle-outline: "\eb81";
$icon-information-circle-sharp: "\eb82";
$icon-information-outline: "\eb83";
$icon-information-sharp: "\eb84";
$icon-invert-mode: "\eb85";
$icon-invert-mode-outline: "\eb86";
$icon-invert-mode-sharp: "\eb87";
$icon-journal: "\eb88";
$icon-journal-outline: "\eb89";
$icon-journal-sharp: "\eb8a";
$icon-key: "\eb8b";
$icon-key-outline: "\eb8c";
$icon-keypad: "\eb8d";
$icon-keypad-outline: "\eb8e";
$icon-keypad-sharp: "\eb8f";
$icon-key-sharp: "\eb90";
$icon-language: "\eb91";
$icon-language-outline: "\eb92";
$icon-language-sharp: "\eb93";
$icon-laptop: "\eb94";
$icon-laptop-outline: "\eb95";
$icon-laptop-sharp: "\eb96";
$icon-layers: "\eb97";
$icon-layers-outline: "\eb98";
$icon-layers-sharp: "\eb99";
$icon-leaf: "\eb9a";
$icon-leaf-outline: "\eb9b";
$icon-leaf-sharp: "\eb9c";
$icon-library: "\eb9d";
$icon-library-outline: "\eb9e";
$icon-library-sharp: "\eb9f";
$icon-link: "\eba0";
$icon-link-outline: "\eba1";
$icon-link-sharp: "\eba2";
$icon-list: "\eba3";
$icon-list-circle: "\eba4";
$icon-list-circle-outline: "\eba5";
$icon-list-circle-sharp: "\eba6";
$icon-list-outline: "\eba7";
$icon-list-sharp: "\eba8";
$icon-locate: "\eba9";
$icon-locate-outline: "\ebaa";
$icon-locate-sharp: "\ebab";
$icon-location: "\ebac";
$icon-location-outline: "\ebad";
$icon-location-sharp: "\ebae";
$icon-lock-closed: "\ebaf";
$icon-lock-closed-outline: "\ebb0";
$icon-lock-closed-sharp: "\ebb1";
$icon-lock-open: "\ebb2";
$icon-lock-open-outline: "\ebb3";
$icon-lock-open-sharp: "\ebb4";
$icon-log-in: "\ebb5";
$icon-log-in-outline: "\ebb6";
$icon-log-in-sharp: "\ebb7";
$icon-logo-alipay: "\ebb8";
$icon-logo-amazon: "\ebb9";
$icon-logo-amplify: "\ebba";
$icon-logo-android: "\ebbb";
$icon-logo-angular: "\ebbc";
$icon-logo-apple: "\ebbd";
$icon-logo-apple-appstore: "\ebbe";
$icon-logo-behance: "\ebbf";
$icon-logo-bitbucket: "\ebc0";
$icon-logo-bitcoin: "\ebc1";
$icon-logo-buffer: "\ebc2";
$icon-logo-capacitor: "\ebc3";
$icon-logo-chrome: "\ebc4";
$icon-logo-closed-captioning: "\ebc5";
$icon-logo-codepen: "\ebc6";
$icon-logo-css3: "\ebc7";
$icon-logo-designernews: "\ebc8";
$icon-logo-deviantart: "\ebc9";
$icon-logo-discord: "\ebca";
$icon-logo-docker: "\ebcb";
$icon-logo-dribbble: "\ebcc";
$icon-logo-dropbox: "\ebcd";
$icon-logo-edge: "\ebce";
$icon-logo-electron: "\ebcf";
$icon-logo-euro: "\ebd0";
$icon-logo-facebook: "\ebd1";
$icon-logo-figma: "\ebd2";
$icon-logo-firebase: "\ebd3";
$icon-logo-firefox: "\ebd4";
$icon-logo-flickr: "\ebd5";
$icon-logo-foursquare: "\ebd6";
$icon-logo-github: "\ebd7";
$icon-logo-gitlab: "\ebd8";
$icon-logo-google: "\ebd9";
$icon-logo-google-playstore: "\ebda";
$icon-logo-hackernews: "\ebdb";
$icon-logo-html5: "\ebdc";
$icon-logo-instagram: "\ebdd";
$icon-logo-ionic: "\ebde";
$icon-logo-ionitron: "\ebdf";
$icon-logo-javascript: "\ebe0";
$icon-logo-laravel: "\ebe1";
$icon-logo-linkedin: "\ebe2";
$icon-logo-markdown: "\ebe3";
$icon-logo-mastodon: "\ebe4";
$icon-logo-medium: "\ebe5";
$icon-logo-microsoft: "\ebe6";
$icon-logo-nodejs: "\ebe7";
$icon-logo-no-smoking: "\ebe8";
$icon-logo-npm: "\ebe9";
$icon-logo-octocat: "\ebea";
$icon-logo-paypal: "\ebeb";
$icon-logo-pinterest: "\ebec";
$icon-logo-playstation: "\ebed";
$icon-logo-pwa: "\ebee";
$icon-logo-python: "\ebef";
$icon-logo-react: "\ebf0";
$icon-logo-reddit: "\ebf1";
$icon-logo-rss: "\ebf2";
$icon-logo-sass: "\ebf3";
$icon-logo-skype: "\ebf4";
$icon-logo-slack: "\ebf5";
$icon-logo-snapchat: "\ebf6";
$icon-logo-soundcloud: "\ebf7";
$icon-logo-stackoverflow: "\ebf8";
$icon-logo-steam: "\ebf9";
$icon-logo-stencil: "\ebfa";
$icon-logo-tableau: "\ebfb";
$icon-logo-tiktok: "\ebfc";
$icon-logo-tumblr: "\ebfd";
$icon-logo-tux: "\ebfe";
$icon-logo-twitch: "\ebff";
$icon-logo-twitter: "\ec00";
$icon-logo-usd: "\ec01";
$icon-log-out: "\ec02";
$icon-log-out-outline: "\ec03";
$icon-log-out-sharp: "\ec04";
$icon-logo-venmo: "\ec05";
$icon-logo-vercel: "\ec06";
$icon-logo-vimeo: "\ec07";
$icon-logo-vk: "\ec08";
$icon-logo-vue: "\ec09";
$icon-logo-web-component: "\ec0a";
$icon-logo-wechat: "\ec0b";
$icon-logo-whatsapp: "\ec0c";
$icon-logo-windows: "\ec0d";
$icon-logo-wordpress: "\ec0e";
$icon-logo-xbox: "\ec0f";
$icon-logo-xing: "\ec10";
$icon-logo-yahoo: "\ec11";
$icon-logo-yen: "\ec12";
$icon-logo-youtube: "\ec13";
$icon-magnet: "\ec14";
$icon-magnet-outline: "\ec15";
$icon-magnet-sharp: "\ec16";
$icon-mail: "\ec17";
$icon-mail-open: "\ec18";
$icon-mail-open-outline: "\ec19";
$icon-mail-open-sharp: "\ec1a";
$icon-mail-outline: "\ec1b";
$icon-mail-sharp: "\ec1c";
$icon-mail-unread: "\ec1d";
$icon-mail-unread-outline: "\ec1e";
$icon-mail-unread-sharp: "\ec1f";
$icon-male: "\ec20";
$icon-male-female: "\ec21";
$icon-male-female-outline: "\ec22";
$icon-male-female-sharp: "\ec23";
$icon-male-outline: "\ec24";
$icon-male-sharp: "\ec25";
$icon-man: "\ec26";
$icon-man-outline: "\ec27";
$icon-man-sharp: "\ec28";
$icon-map: "\ec29";
$icon-map-outline: "\ec2a";
$icon-map-sharp: "\ec2b";
$icon-medal: "\ec2c";
$icon-medal-outline: "\ec2d";
$icon-medal-sharp: "\ec2e";
$icon-medical: "\ec2f";
$icon-medical-outline: "\ec30";
$icon-medical-sharp: "\ec31";
$icon-medkit: "\ec32";
$icon-medkit-outline: "\ec33";
$icon-medkit-sharp: "\ec34";
$icon-megaphone: "\ec35";
$icon-megaphone-outline: "\ec36";
$icon-megaphone-sharp: "\ec37";
$icon-menu: "\ec38";
$icon-menu-outline: "\ec39";
$icon-menu-sharp: "\ec3a";
$icon-mic: "\ec3b";
$icon-mic-circle: "\ec3c";
$icon-mic-circle-outline: "\ec3d";
$icon-mic-circle-sharp: "\ec3e";
$icon-mic-off: "\ec3f";
$icon-mic-off-circle: "\ec40";
$icon-mic-off-circle-outline: "\ec41";
$icon-mic-off-circle-sharp: "\ec42";
$icon-mic-off-outline: "\ec43";
$icon-mic-off-sharp: "\ec44";
$icon-mic-outline: "\ec45";
$icon-mic-sharp: "\ec46";
$icon-moon: "\ec47";
$icon-moon-outline: "\ec48";
$icon-moon-sharp: "\ec49";
$icon-move: "\ec4a";
$icon-move-outline: "\ec4b";
$icon-move-sharp: "\ec4c";
$icon-musical-note: "\ec4d";
$icon-musical-note-outline: "\ec4e";
$icon-musical-notes: "\ec4f";
$icon-musical-note-sharp: "\ec50";
$icon-musical-notes-outline: "\ec51";
$icon-musical-notes-sharp: "\ec52";
$icon-navigate: "\ec53";
$icon-navigate-circle: "\ec54";
$icon-navigate-circle-outline: "\ec55";
$icon-navigate-circle-sharp: "\ec56";
$icon-navigate-outline: "\ec57";
$icon-navigate-sharp: "\ec58";
$icon-newspaper: "\ec59";
$icon-newspaper-outline: "\ec5a";
$icon-newspaper-sharp: "\ec5b";
$icon-notifications: "\ec5c";
$icon-notifications-circle: "\ec5d";
$icon-notifications-circle-outline: "\ec5e";
$icon-notifications-circle-sharp: "\ec5f";
$icon-notifications-off: "\ec60";
$icon-notifications-off-circle: "\ec61";
$icon-notifications-off-circle-outline: "\ec62";
$icon-notifications-off-circle-sharp: "\ec63";
$icon-notifications-off-outline: "\ec64";
$icon-notifications-off-sharp: "\ec65";
$icon-notifications-outline: "\ec66";
$icon-notifications-sharp: "\ec67";
$icon-nuclear: "\ec68";
$icon-nuclear-outline: "\ec69";
$icon-nuclear-sharp: "\ec6a";
$icon-nutrition: "\ec6b";
$icon-nutrition-outline: "\ec6c";
$icon-nutrition-sharp: "\ec6d";
$icon-open: "\ec6e";
$icon-open-outline: "\ec6f";
$icon-open-sharp: "\ec70";
$icon-options: "\ec71";
$icon-options-outline: "\ec72";
$icon-options-sharp: "\ec73";
$icon-paper-plane: "\ec74";
$icon-paper-plane-outline: "\ec75";
$icon-paper-plane-sharp: "\ec76";
$icon-partly-sunny: "\ec77";
$icon-partly-sunny-outline: "\ec78";
$icon-partly-sunny-sharp: "\ec79";
$icon-pause: "\ec7a";
$icon-pause-circle: "\ec7b";
$icon-pause-circle-outline: "\ec7c";
$icon-pause-circle-sharp: "\ec7d";
$icon-pause-outline: "\ec7e";
$icon-pause-sharp: "\ec7f";
$icon-paw: "\ec80";
$icon-paw-outline: "\ec81";
$icon-paw-sharp: "\ec82";
$icon-pencil: "\ec83";
$icon-pencil-outline: "\ec84";
$icon-pencil-sharp: "\ec85";
$icon-people: "\ec86";
$icon-people-circle: "\ec87";
$icon-people-circle-outline: "\ec88";
$icon-people-circle-sharp: "\ec89";
$icon-people-outline: "\ec8a";
$icon-people-sharp: "\ec8b";
$icon-person: "\ec8c";
$icon-person-add: "\ec8d";
$icon-person-add-outline: "\ec8e";
$icon-person-add-sharp: "\ec8f";
$icon-person-circle: "\ec90";
$icon-person-circle-outline: "\ec91";
$icon-person-circle-sharp: "\ec92";
$icon-person-outline: "\ec93";
$icon-person-remove: "\ec94";
$icon-person-remove-outline: "\ec95";
$icon-person-remove-sharp: "\ec96";
$icon-person-sharp: "\ec97";
$icon-phone-landscape: "\ec98";
$icon-phone-landscape-outline: "\ec99";
$icon-phone-landscape-sharp: "\ec9a";
$icon-phone-portrait: "\ec9b";
$icon-phone-portrait-outline: "\ec9c";
$icon-phone-portrait-sharp: "\ec9d";
$icon-pie-chart: "\ec9e";
$icon-pie-chart-outline: "\ec9f";
$icon-pie-chart-sharp: "\eca0";
$icon-pin: "\eca1";
$icon-pin-outline: "\eca2";
$icon-pin-sharp: "\eca3";
$icon-pint: "\eca4";
$icon-pint-outline: "\eca5";
$icon-pint-sharp: "\eca6";
$icon-pizza: "\eca7";
$icon-pizza-outline: "\eca8";
$icon-pizza-sharp: "\eca9";
$icon-planet: "\ecaa";
$icon-planet-outline: "\ecab";
$icon-planet-sharp: "\ecac";
$icon-play: "\ecad";
$icon-play-back: "\ecae";
$icon-play-back-circle: "\ecaf";
$icon-play-back-circle-outline: "\ecb0";
$icon-play-back-circle-sharp: "\ecb1";
$icon-play-back-outline: "\ecb2";
$icon-play-back-sharp: "\ecb3";
$icon-play-circle: "\ecb4";
$icon-play-circle-outline: "\ecb5";
$icon-play-circle-sharp: "\ecb6";
$icon-play-forward: "\ecb7";
$icon-play-forward-circle: "\ecb8";
$icon-play-forward-circle-outline: "\ecb9";
$icon-play-forward-circle-sharp: "\ecba";
$icon-play-forward-outline: "\ecbb";
$icon-play-forward-sharp: "\ecbc";
$icon-play-outline: "\ecbd";
$icon-play-sharp: "\ecbe";
$icon-play-skip-back: "\ecbf";
$icon-play-skip-back-circle: "\ecc0";
$icon-play-skip-back-circle-outline: "\ecc1";
$icon-play-skip-back-circle-sharp: "\ecc2";
$icon-play-skip-back-outline: "\ecc3";
$icon-play-skip-back-sharp: "\ecc4";
$icon-play-skip-forward: "\ecc5";
$icon-play-skip-forward-circle: "\ecc6";
$icon-play-skip-forward-circle-outline: "\ecc7";
$icon-play-skip-forward-circle-sharp: "\ecc8";
$icon-play-skip-forward-outline: "\ecc9";
$icon-play-skip-forward-sharp: "\ecca";
$icon-podium: "\eccb";
$icon-podium-outline: "\eccc";
$icon-podium-sharp: "\eccd";
$icon-power: "\ecce";
$icon-power-outline: "\eccf";
$icon-power-sharp: "\ecd0";
$icon-pricetag: "\ecd1";
$icon-pricetag-outline: "\ecd2";
$icon-pricetags: "\ecd3";
$icon-pricetag-sharp: "\ecd4";
$icon-pricetags-outline: "\ecd5";
$icon-pricetags-sharp: "\ecd6";
$icon-print: "\ecd7";
$icon-print-outline: "\ecd8";
$icon-print-sharp: "\ecd9";
$icon-pulse: "\ecda";
$icon-pulse-outline: "\ecdb";
$icon-pulse-sharp: "\ecdc";
$icon-push: "\ecdd";
$icon-push-outline: "\ecde";
$icon-push-sharp: "\ecdf";
$icon-qr-code: "\ece0";
$icon-qr-code-outline: "\ece1";
$icon-qr-code-sharp: "\ece2";
$icon-radio: "\ece3";
$icon-radio-button-off: "\ece4";
$icon-radio-button-off-outline: "\ece5";
$icon-radio-button-off-sharp: "\ece6";
$icon-radio-button-on: "\ece7";
$icon-radio-button-on-outline: "\ece8";
$icon-radio-button-on-sharp: "\ece9";
$icon-radio-outline: "\ecea";
$icon-radio-sharp: "\eceb";
$icon-rainy: "\ecec";
$icon-rainy-outline: "\eced";
$icon-rainy-sharp: "\ecee";
$icon-reader: "\ecef";
$icon-reader-outline: "\ecf0";
$icon-reader-sharp: "\ecf1";
$icon-receipt: "\ecf2";
$icon-receipt-outline: "\ecf3";
$icon-receipt-sharp: "\ecf4";
$icon-recording: "\ecf5";
$icon-recording-outline: "\ecf6";
$icon-recording-sharp: "\ecf7";
$icon-refresh: "\ecf8";
$icon-refresh-circle: "\ecf9";
$icon-refresh-circle-outline: "\ecfa";
$icon-refresh-circle-sharp: "\ecfb";
$icon-refresh-outline: "\ecfc";
$icon-refresh-sharp: "\ecfd";
$icon-reload: "\ecfe";
$icon-reload-circle: "\ecff";
$icon-reload-circle-outline: "\ed00";
$icon-reload-circle-sharp: "\ed01";
$icon-reload-outline: "\ed02";
$icon-reload-sharp: "\ed03";
$icon-remove: "\ed04";
$icon-remove-circle: "\ed05";
$icon-remove-circle-outline: "\ed06";
$icon-remove-circle-sharp: "\ed07";
$icon-remove-outline: "\ed08";
$icon-remove-sharp: "\ed09";
$icon-reorder-four: "\ed0a";
$icon-reorder-four-outline: "\ed0b";
$icon-reorder-four-sharp: "\ed0c";
$icon-reorder-three: "\ed0d";
$icon-reorder-three-outline: "\ed0e";
$icon-reorder-three-sharp: "\ed0f";
$icon-reorder-two: "\ed10";
$icon-reorder-two-outline: "\ed11";
$icon-reorder-two-sharp: "\ed12";
$icon-repeat: "\ed13";
$icon-repeat-outline: "\ed14";
$icon-repeat-sharp: "\ed15";
$icon-resize: "\ed16";
$icon-resize-outline: "\ed17";
$icon-resize-sharp: "\ed18";
$icon-restaurant: "\ed19";
$icon-restaurant-outline: "\ed1a";
$icon-restaurant-sharp: "\ed1b";
$icon-return-down-back: "\ed1c";
$icon-return-down-back-outline: "\ed1d";
$icon-return-down-back-sharp: "\ed1e";
$icon-return-down-forward: "\ed1f";
$icon-return-down-forward-outline: "\ed20";
$icon-return-down-forward-sharp: "\ed21";
$icon-return-up-back: "\ed22";
$icon-return-up-back-outline: "\ed23";
$icon-return-up-back-sharp: "\ed24";
$icon-return-up-forward: "\ed25";
$icon-return-up-forward-outline: "\ed26";
$icon-return-up-forward-sharp: "\ed27";
$icon-ribbon: "\ed28";
$icon-ribbon-outline: "\ed29";
$icon-ribbon-sharp: "\ed2a";
$icon-rocket: "\ed2b";
$icon-rocket-outline: "\ed2c";
$icon-rocket-sharp: "\ed2d";
$icon-rose: "\ed2e";
$icon-rose-outline: "\ed2f";
$icon-rose-sharp: "\ed30";
$icon-sad: "\ed31";
$icon-sad-outline: "\ed32";
$icon-sad-sharp: "\ed33";
$icon-save: "\ed34";
$icon-save-outline: "\ed35";
$icon-save-sharp: "\ed36";
$icon-scan: "\ed37";
$icon-scan-circle: "\ed38";
$icon-scan-circle-outline: "\ed39";
$icon-scan-circle-sharp: "\ed3a";
$icon-scan-outline: "\ed3b";
$icon-scan-sharp: "\ed3c";
$icon-school: "\ed3d";
$icon-school-outline: "\ed3e";
$icon-school-sharp: "\ed3f";
$icon-search: "\ed40";
$icon-search-circle: "\ed41";
$icon-search-circle-outline: "\ed42";
$icon-search-circle-sharp: "\ed43";
$icon-search-outline: "\ed44";
$icon-search-sharp: "\ed45";
$icon-send: "\ed46";
$icon-send-outline: "\ed47";
$icon-send-sharp: "\ed48";
$icon-server: "\ed49";
$icon-server-outline: "\ed4a";
$icon-server-sharp: "\ed4b";
$icon-settings: "\ed4c";
$icon-settings-outline: "\ed4d";
$icon-settings-sharp: "\ed4e";
$icon-shapes: "\ed4f";
$icon-shapes-outline: "\ed50";
$icon-shapes-sharp: "\ed51";
$icon-share: "\ed52";
$icon-share-outline: "\ed53";
$icon-share-sharp: "\ed54";
$icon-share-social: "\ed55";
$icon-share-social-outline: "\ed56";
$icon-share-social-sharp: "\ed57";
$icon-shield: "\ed58";
$icon-shield-checkmark: "\ed59";
$icon-shield-checkmark-outline: "\ed5a";
$icon-shield-checkmark-sharp: "\ed5b";
$icon-shield-outline: "\ed5c";
$icon-shield-sharp: "\ed5d";
$icon-shirt: "\ed5e";
$icon-shirt-outline: "\ed5f";
$icon-shirt-sharp: "\ed60";
$icon-shuffle: "\ed61";
$icon-shuffle-outline: "\ed62";
$icon-shuffle-sharp: "\ed63";
$icon-skull: "\ed64";
$icon-skull-outline: "\ed65";
$icon-skull-sharp: "\ed66";
$icon-snow: "\ed67";
$icon-snow-outline: "\ed68";
$icon-snow-sharp: "\ed69";
$icon-speedometer: "\ed6a";
$icon-speedometer-outline: "\ed6b";
$icon-speedometer-sharp: "\ed6c";
$icon-square: "\ed6d";
$icon-square-outline: "\ed6e";
$icon-square-sharp: "\ed6f";
$icon-star: "\ed70";
$icon-star-half: "\ed71";
$icon-star-half-outline: "\ed72";
$icon-star-half-sharp: "\ed73";
$icon-star-outline: "\ed74";
$icon-star-sharp: "\ed75";
$icon-stats-chart: "\ed76";
$icon-stats-chart-outline: "\ed77";
$icon-stats-chart-sharp: "\ed78";
$icon-stop: "\ed79";
$icon-stop-circle: "\ed7a";
$icon-stop-circle-outline: "\ed7b";
$icon-stop-circle-sharp: "\ed7c";
$icon-stop-outline: "\ed7d";
$icon-stop-sharp: "\ed7e";
$icon-stopwatch: "\ed7f";
$icon-stopwatch-outline: "\ed80";
$icon-stopwatch-sharp: "\ed81";
$icon-storefront: "\ed82";
$icon-storefront-outline: "\ed83";
$icon-storefront-sharp: "\ed84";
$icon-subway: "\ed85";
$icon-subway-outline: "\ed86";
$icon-subway-sharp: "\ed87";
$icon-sunny: "\ed88";
$icon-sunny-outline: "\ed89";
$icon-sunny-sharp: "\ed8a";
$icon-swap-horizontal: "\ed8b";
$icon-swap-horizontal-outline: "\ed8c";
$icon-swap-horizontal-sharp: "\ed8d";
$icon-swap-vertical: "\ed8e";
$icon-swap-vertical-outline: "\ed8f";
$icon-swap-vertical-sharp: "\ed90";
$icon-sync: "\ed91";
$icon-sync-circle: "\ed92";
$icon-sync-circle-outline: "\ed93";
$icon-sync-circle-sharp: "\ed94";
$icon-sync-outline: "\ed95";
$icon-sync-sharp: "\ed96";
$icon-tablet-landscape: "\ed97";
$icon-tablet-landscape-outline: "\ed98";
$icon-tablet-landscape-sharp: "\ed99";
$icon-tablet-portrait: "\ed9a";
$icon-tablet-portrait-outline: "\ed9b";
$icon-tablet-portrait-sharp: "\ed9c";
$icon-telescope: "\ed9d";
$icon-telescope-outline: "\ed9e";
$icon-telescope-sharp: "\ed9f";
$icon-tennisball: "\eda0";
$icon-tennisball-outline: "\eda1";
$icon-tennisball-sharp: "\eda2";
$icon-terminal: "\eda3";
$icon-terminal-outline: "\eda4";
$icon-terminal-sharp: "\eda5";
$icon-text: "\eda6";
$icon-text-outline: "\eda7";
$icon-text-sharp: "\eda8";
$icon-thermometer: "\eda9";
$icon-thermometer-outline: "\edaa";
$icon-thermometer-sharp: "\edab";
$icon-thumbs-down: "\edac";
$icon-thumbs-down-outline: "\edad";
$icon-thumbs-down-sharp: "\edae";
$icon-thumbs-up: "\edaf";
$icon-thumbs-up-outline: "\edb0";
$icon-thumbs-up-sharp: "\edb1";
$icon-thunderstorm: "\edb2";
$icon-thunderstorm-outline: "\edb3";
$icon-thunderstorm-sharp: "\edb4";
$icon-ticket: "\edb5";
$icon-ticket-outline: "\edb6";
$icon-ticket-sharp: "\edb7";
$icon-time: "\edb8";
$icon-time-outline: "\edb9";
$icon-timer: "\edba";
$icon-timer-outline: "\edbb";
$icon-timer-sharp: "\edbc";
$icon-time-sharp: "\edbd";
$icon-today: "\edbe";
$icon-today-outline: "\edbf";
$icon-today-sharp: "\edc0";
$icon-toggle: "\edc1";
$icon-toggle-outline: "\edc2";
$icon-toggle-sharp: "\edc3";
$icon-trail-sign: "\edc4";
$icon-trail-sign-outline: "\edc5";
$icon-trail-sign-sharp: "\edc6";
$icon-train: "\edc7";
$icon-train-outline: "\edc8";
$icon-train-sharp: "\edc9";
$icon-transgender: "\edca";
$icon-transgender-outline: "\edcb";
$icon-transgender-sharp: "\edcc";
$icon-trash: "\edcd";
$icon-trash-bin: "\edce";
$icon-trash-bin-outline: "\edcf";
$icon-trash-bin-sharp: "\edd0";
$icon-trash-outline: "\edd1";
$icon-trash-sharp: "\edd2";
$icon-trending-down: "\edd3";
$icon-trending-down-outline: "\edd4";
$icon-trending-down-sharp: "\edd5";
$icon-trending-up: "\edd6";
$icon-trending-up-outline: "\edd7";
$icon-trending-up-sharp: "\edd8";
$icon-triangle: "\edd9";
$icon-triangle-outline: "\edda";
$icon-triangle-sharp: "\eddb";
$icon-trophy: "\eddc";
$icon-trophy-outline: "\eddd";
$icon-trophy-sharp: "\edde";
$icon-tv: "\eddf";
$icon-tv-outline: "\ede0";
$icon-tv-sharp: "\ede1";
$icon-umbrella: "\ede2";
$icon-umbrella-outline: "\ede3";
$icon-umbrella-sharp: "\ede4";
$icon-unlink: "\ede5";
$icon-unlink-outline: "\ede6";
$icon-unlink-sharp: "\ede7";
$icon-videocam: "\ede8";
$icon-videocam-off: "\ede9";
$icon-videocam-off-outline: "\edea";
$icon-videocam-off-sharp: "\edeb";
$icon-videocam-outline: "\edec";
$icon-videocam-sharp: "\eded";
$icon-volume-high: "\edee";
$icon-volume-high-outline: "\edef";
$icon-volume-high-sharp: "\edf0";
$icon-volume-low: "\edf1";
$icon-volume-low-outline: "\edf2";
$icon-volume-low-sharp: "\edf3";
$icon-volume-medium: "\edf4";
$icon-volume-medium-outline: "\edf5";
$icon-volume-medium-sharp: "\edf6";
$icon-volume-mute: "\edf7";
$icon-volume-mute-outline: "\edf8";
$icon-volume-mute-sharp: "\edf9";
$icon-volume-off: "\edfa";
$icon-volume-off-outline: "\edfb";
$icon-volume-off-sharp: "\edfc";
$icon-walk: "\edfd";
$icon-walk-outline: "\edfe";
$icon-walk-sharp: "\edff";
$icon-wallet: "\ee00";
$icon-wallet-outline: "\ee01";
$icon-wallet-sharp: "\ee02";
$icon-warning: "\ee03";
$icon-warning-outline: "\ee04";
$icon-warning-sharp: "\ee05";
$icon-watch: "\ee06";
$icon-watch-outline: "\ee07";
$icon-watch-sharp: "\ee08";
$icon-water: "\ee09";
$icon-water-outline: "\ee0a";
$icon-water-sharp: "\ee0b";
$icon-wifi: "\ee0c";
$icon-wifi-outline: "\ee0d";
$icon-wifi-sharp: "\ee0e";
$icon-wine: "\ee0f";
$icon-wine-outline: "\ee10";
$icon-wine-sharp: "\ee11";
$icon-woman: "\ee12";
$icon-woman-outline: "\ee13";
$icon-woman-sharp: "\ee14";

